version 5.249.0
source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.1

group Build
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.1
  storage: none

  nuget Fake.Core.Target
  nuget Fake.DotNet.Cli
  nuget Fake.IO.FileSystem
